$primary-color: #3A3A46;
$secondary-color: #7D8185;

$orange: #FDC040;
$blue: #136FF0;
$light-blue: #E8EEF6;

$blue-gradient: linear-gradient(94.46deg, #136FF0 0%, #3086FF 100%);
$green-gradient: linear-gradient(90deg, rgba(117, 111, 214, .6) 0%, rgba(178, 178, 217, .6) 35%, rgba(0, 212, 255, 0.5354516806722689) 100%);