@import "../common/vars";
@import "../common/mixins";

.courses {
  position: relative;
  margin: 100px 0;
}

.themes-slider {
  position: relative;
  height: 43px;
  margin: 50px 0;
  padding: 0 61px;
}

.themes-slider__wrapper {
  width: 100%;
}

.themes-slider__slide {
  display: flex;
  align-items: center;
  width: auto !important;

  > a {
    padding: 8px 16px;
    color: #B9C7D4;
    background: #fff;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 700;

    &.current {
      color: $blue;
    }
  }
}


.courses-slider {
  padding-bottom: 80px;
  position: relative;
}

.courses-slider__slide {
  text-decoration: none;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 30px 30px rgba(37, 65, 138, 0.05);
  padding: 30px 30px 43px;
  display: block;
  transition: all .5s ease;

  &:hover {
    box-shadow: 0 16px 32px rgba(26, 56, 132, 0.14);
  }

  .slide__img {
    width: 100%;
    height: 117px;
    margin-bottom: 30px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  > span {
    display: inline-block;
    font-size: 14px;
    color: $blue;
    padding: 5px 15px;
    background: $light-blue;
    border-radius: 10px;
    margin-bottom: 12px;
  }

  > div {
    font-size: 18px;
    font-weight: 700;
    color: $primary-color;
    margin-bottom: 12px;
  }

  > p {
    color: $secondary-color;
    margin-bottom: 20px;
  }

  .slide__info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    div {
      margin-bottom: 0;

      &:after {
        content: attr(data-star);
        color: $orange;
        font-size: 18px;
      }
    }

    p {
      display: flex;
      margin-left: auto;
      margin-bottom: 0;
      font-size: 16px;
      font-weight: 400;

      svg {
        margin-right: 6px;
      }
    }

    span {
      color: #12B90F;
      font-weight: 600;
      font-size: 20px;
      padding: 0;
      background: transparent;
      border-radius: 0;
      margin-bottom: 0;
      margin-left: 20px;
    }

  }

  .slide__icon {
    display: flex;
    margin-bottom: 20px;
    width: 44px;
    height: 44px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .slide__btn {
    display: flex;
    justify-content: space-between;

    * {
      width: 166px;
      min-width: 110px;
      height: 40px;

      &:first-child {
        margin-right: 20px;
      }
    }

  }
}

.courses__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;

  a {
    text-decoration: none;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 30px 30px rgba(37, 65, 138, 0.05);
    padding: 30px 30px 43px;
    display: block;
    width: calc(33% - (60px / 3));
    margin-bottom: 40px;

    .card__img {
      width: 350px;
      height: 117px;
      margin-bottom: 30px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    span {
      display: inline-block;
      font-size: 14px;
      color: $blue;
      padding: 5px 15px;
      background: $light-blue;
      border-radius: 10px;
      margin-bottom: 12px;
    }

    div {
      font-size: 18px;
      font-weight: 700;
      color: $primary-color;
      margin-bottom: 12px;
    }

    p {
      color: $secondary-color;
      margin-bottom: 20px;
    }

    .card__info {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      div {
        margin-bottom: 0;

        &:after {
          content: attr(data-star);
          color: $orange;
          font-size: 18px;
        }
      }

      p {
        display: flex;
        margin-left: auto;
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 400;

        svg {
          margin-right: 6px;
        }
      }

      span {
        color: #12B90F;
        font-weight: 600;
        font-size: 20px;
        padding: 0;
        background: transparent;
        border-radius: 0;
        margin-bottom: 0;
        margin-left: 20px;
      }

    }

    .card__icon {
      display: flex;
      margin-bottom: 20px;
      width: 44px;
      height: 44px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .card__btn {
      display: flex;
      justify-content: space-between;

      button {
        height: 40px;

        &:first-child {
          margin-right: 20px;
        }
      }
    }
  }
}

