@import "../common/vars";
@import "../common/mixins";

.news {
  margin: 120px 0 150px;
  position: relative;
}

.news-slider {
  padding-bottom: 80px;
  position: relative;
}

.news-slider__slide {
  position: relative;
  padding: 20px 30px;
  background: rgba(51, 51, 51, 0.5);
  border-radius: 10px;
  transition: all .5s ease;

  &:hover {
    cursor: pointer;
    background: rgba(51, 51, 51, 0);
  }

  .slide-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .slide__content {
    margin-top: 300px;

    span {
      display: inline-block;
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 12px;
    }

    p {
      color: #fff;
      margin-bottom: 20px;
    }

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      max-width: 150px;
      margin-left: auto;
      transition: all .4s ease;

      &:hover {
        span {
          color: $blue;
        }

        svg {
          path {
            fill: $blue;
          }
        }
      }

      span {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 0;
      }

      svg {
        margin-left: 20px;
      }
    }
  }
}

.news__wrapper {
  z-index: 10;
}

.news__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .card {
    position: relative;
    padding: 20px 30px;
    background: rgba(51, 51, 51, 0.5);
    border-radius: 10px;
    transition: all .5s ease;
    margin-bottom: 50px;

    &:hover {
      cursor: pointer;
      background: rgba(51, 51, 51, 0);
    }

    .card-bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;

      img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .card__content {
      margin-top: 300px;

      span {
        display: inline-block;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 12px;
      }

      p {
        color: #fff;
        margin-bottom: 20px;
      }

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        max-width: 150px;
        margin-left: auto;
        transition: all .4s ease;

        &:hover {
          span {
            color: $blue;
          }

          svg {
            path {
              fill: $blue;
            }
          }
        }

        span {
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 0;
        }

        svg {
          margin-left: 20px;
        }
      }
    }
  }
}

.news__body.xl {
  .card {
    width: calc(33.3333% - (60px / 3));
  }
}

.news__body.md {
  display: none;
  .card {
    width: calc(50% - (40px / 2));
  }
}

.news__body.sm {
  display: none;
  .card {
    width: 100%;
  }
}

