@import "../common/vars";
@import "../common/mixins";

.speakers {
  padding: 80px 0;
  background: #F6F8F9;
}
.speakers-slider {
  position: relative;
  padding-bottom: 80px;
}
.speakers-slider__slide {
  box-shadow: 0 30px 30px rgba(37, 65, 138, 0.05);

  a {
    text-decoration: none;

    .card {
      .card__img {
        width: 100%;
        height: 294px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .card__body {
        padding: 20px;
        background: #fff;

        span {
          display: block;
          margin-top: 20px;
          font-weight: 700;
          font-size: 18px;
          color: $primary-color;
        }

        p {
          margin-top: 10px;
          color: $secondary-color;
          font-size: 16px;
        }

        .card__link {
          display: flex;
          justify-content: space-between;

          div {
            display: flex;
            align-items: center;
            margin-top: 12px;

            img {
              width: 24px;
              height: 24px;
            }

            span {
              color: $blue;
              font-size: 14px;
              margin-top: 0;
              font-weight: 400;
              margin-left: 8px;
            }
          }
        }
      }
    }
  }
}

