@import "../common/vars";
@import "../common/mixins";

.topics {
  padding: 80px 0;
  background: #F6F8F9;
}

.topics-slider {
  position: relative;

}

.topics-slider__wrapper {
  padding-bottom: 70px;
}

.topics-slider__slide {
  > a {
    text-decoration: none;
    display: block;
    flex: 0 0 calc(25% - (90px / 4));
    height: auto;
    border-radius: 10px;
    box-shadow: 0 30px 30px rgba(37, 65, 138, 0.05);
    margin-bottom: 10px;
    transition: all .5s ease;

    &:hover {
      box-shadow: 0 16px 32px rgba(26, 56, 132, 0.14);
    }

    .card {
      background: #fff;
      border-radius: 10px;

      .card__img {
        width: 100%;
        height: 191px;

        img {
          border-radius: 10px 10px 0 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .card__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 15px;

        p {
          font-size: 20px;
          font-weight: 700;
          color: $primary-color;

          &:after {
            content: '';
            border-right: 1px solid $secondary-color;
            margin-left: 10px;
            width: 21px;
          }
        }

        span {
          font-size: 14px;
          color: $secondary-color;
        }
      }
    }
  }
}

.topics__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  a {
    flex: 0 0 calc(25% - (90px / 4));
    text-decoration: none;
    display: block;

    .topics__card {
      border-radius: 10px;
      background: #fff;

      .card__img {
        width: 300px;
        height: 191px;

        img {
          border-radius: 10px 10px 0 0;
          width: 100%;
          height: 100%;
        }
      }

      .card__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 15px;
        margin-bottom: 50px;

        p {
          font-size: 20px;
          font-weight: 700;
          color: $primary-color;

          &:after {
            content: '';
            border-right: 1px solid $secondary-color;
            margin-left: 10px;
            width: 21px;
          }
        }

        span {
          font-size: 14px;
          color: $secondary-color;
        }
      }
    }
  }
}




