.anim {
  opacity: 0;
}

.anim-start {
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-up-drag {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  64% {
    opacity: .64;
    transform: translateY(-7%);
  }
  76% {
    opacity: .76;
    transform: translateY(0);
  }
  88% {
    opacity: .88;
    transform: translateY(-3%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-rotate-zoom {
  0% {
    opacity: 0;
    transform: rotate(0) scale(0);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg) scale(1);
  }
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes flip {
  0% {
    opacity: 0;
    transform: rotateY(180deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(360deg);
  }
}