@import "common/vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;;
}

.container {
  width: 1440px;
  padding: 0 75px;
  margin: 0 auto;
  height: 100%;
}

.no-scroll {
  overflow-y: hidden;
}

h2 {
  font-size: 40px;
  line-height: 54px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 600;
}

@media screen and (max-width: 1440px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}