@media screen and (max-width: 1439px) {
}

@media screen and (max-width: 1399px) {
  .hero__wrapper {
    justify-content: space-between;
  }

  .hero__content {
    max-width: 60%;
  }

  .hero__img {
    width: 400px;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }

    #video {
      width: 305px;
      height: 205px;
      position: absolute;
      top: 4px;
      left: 47px;
      border-radius: 5px;
    }
  }

  .topics__body.lg {
    display: none;
  }

  .topics__body.xl {
    display: flex;
  }

}


@media screen and (max-width: 1199px) {
  .hero__img {
    width: 100%;
    height: auto;

    #video {
      width: 76.4%;
      height: 88.6%;
      position: absolute;
      top: 5px;
      left: 11.7%;
    }
  }
  .speaker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .speaker__img {
    margin-right: 0;
  }
  .speaker__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    > div {
      a {
        &:first-of-type {
          margin-right: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .hero {
    height: 100%;
  }

  .hero__wrapper {
    flex-direction: column;
  }

  .hero__content {
    max-width: 100%;
    text-align: center;

    h1 {
      margin-top: 40px;
    }

    > p {
      margin: 25px auto 40px;
    }

    .content__btn {
      justify-content: center;
      margin-bottom: 50px;

      a {
        &:nth-child(1) {
          margin-right: 20px;
        }

        &:nth-child(2) {
          margin-right: 0;
        }
      }
    }
  }

  .hero__img {
    margin-bottom: 93px;

    #video {
      width: 76.4%;
      height: 89.6%;
      position: absolute;
      top: 6px;
      left: 11.7%;
    }
  }

  .topics__body.xl {
    display: none;
  }

  .topics__body.md {
    display: flex;
  }

  .courses__body.xl {
    display: none;
  }

  .courses__body.md {
    display: flex;
  }

  .news__body.xl {
    display: none;
  }

  .news__body.md {
    display: flex;
  }

  .news-bg {
    display: none;
  }

  .themes-slider {
    margin: 0;
  }

  .course-details__speakers {
    .container > div {
      display: flex;
      flex-direction: column;
    }
  }

  .speaker {
    width: 100%;

    &:not(:last-of-type) {
      margin-bottom: 50px;
    }
  }

  .speaker__description {
    > a {
      width: 237px;
    }
  }

  .topics {
    padding: 70px 0;
  }

  .courses {
    margin: 70px 0;
  }

  .speakers {
    padding: 70px 0;
  }

  .news {
    margin: 70px 0;
  }

  .our-people {
    margin: 70px 0;
  }

  .course-details {
    padding: 35px 0 70px;

    h3 {
      margin-bottom: 44px;
      font-size: 32px;
      line-height: 44px;
    }
  }

  .course-details__wrapper {
    margin: 35px 0 0;
  }

  .course-details__about {
    margin: 70px 0;
  }

  .course-details__speakers {
    padding: 70px 0;
  }

  .course-details__schedule {
    margin: 50px 0;
  }

  .course-details__reviews {
    padding: 70px 0;
  }

  .course-details__faq {
    margin: 70px 0 0;
  }

  .contact-us {
    padding: 30px 0 0;
    background: #f6f8f9;
    min-height: 0;
    z-index: -1;
  }

  .contact-us-bg {
    display: none;
  }

  .contact-us__wrapper {
    padding: 0;

    .section-head-pages {
      h2 {
        padding: 0 20px;
      }
    }
  }

  .contacts-us__body {
    display: flex;
    flex-direction: column;
    border-radius: 0;
  }

  .contacts-us__info {
    order: 2;
    width: 100%;
    z-index: 1;
    padding: 50px 40px;

    .info-bg {
      img {
        border-radius: 0;
      }
    }

    .info__title {
      display: none;
    }

    .social-networks {
      margin-top: 50px;
    }
  }

  .contact-us__form {
    order: 1;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .hero__content {
    > h1 {
      font-size: 29px;
      line-height: 35px;
      margin-bottom: 25px;
    }

    > p {
      font-size: 16px;
      line-height: 22px;
      margin-top: 0;
    }

    .content__btn {
      display: flex;

      a {
        width: 179px;
        height: 50px;
        margin-right: 25px;
      }
    }
  }

  .topics-slider__slide {
    margin-top: 0 !important;
  }

  .topics__body.md {
    display: none;
  }

  .topics__body.sm {
    display: flex;
  }

  .courses__body.md {
    display: none;
  }

  .courses__body.sm {
    display: flex;
  }

  .news__body.md {
    display: none;
  }

  .news__body.sm {
    display: flex;
  }

  .contact-us__form {
    padding: 50px 20px 70px;

    form {
      label {
        &:not(:last-of-type) {
          width: 100%;
        }
      }

      button {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .hero__img {
    margin-bottom: 93px;

    #video {
      width: 76.5%;
      height: 89.6%;
      position: absolute;
      top: 1px;
      left: 11.6%;
    }
  }
  .courses-slider__slide {
    padding: 20px 20px 43px;
  }
  .course-details__content {
    width: 100%;
  }

}