@media screen and (max-width: 1439px) {
}

@media screen and (max-width: 1399px) {
  .hero__wrapper {
    justify-content: space-between;
  }

  .hero__content {
    max-width: 60%;
  }

  .hero__img {
    width: 400px;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }
}


@media screen and (max-width: 1199px) {
  .hero__img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 991px) {
  .hero {
    height: 100%;
  }

  .hero__wrapper {
    flex-direction: column;
  }
  .hero__content {
    max-width: 100%;
    text-align: center;

    h1 {
      margin-top: 40px;
    }

    > p {
      margin: 25px auto 40px;
    }

    .content__btn {
      justify-content: center;
      margin-bottom: 50px;

      a {
        &:nth-child(1) {
          margin-right: 20px;
        }

        &:nth-child(2) {
          margin-right: 0;
        }
      }
    }
  }

  .hero__img {
    margin-bottom: 93px;
  }

  .topics {
    padding: 70px 0;
  }
  .courses {
    margin: 70px 0;
  }
  .speakers {
    padding: 70px 0;
  }
  .news {
    margin: 70px 0;
  }
  .our-people {
    margin: 70px 0;
  }
}

@media screen and (max-width: 767px) {
  .topics-slider__slide {
    margin-top: 0 !important;
  }
  .hero__content {
    > h1 {
      font-size: 29px;
      line-height: 35px;
      margin-bottom: 25px;
    }

    > p {
      font-size: 16px;
      line-height: 22px;
      margin-top: 0;
    }

    .content__btn {
      display: flex;

      a {
        width: 179px;
        height: 50px;
        margin-right: 25px;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .courses-slider__slide {
    padding: 20px 20px 43px;
  }
}